<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1><%= title %></h1>
    <p> Come at me, Sekiro! </p>
    <p> You must overcome this puzzle to become admin </p>
    <%- include("./partials/errors.ejs", {errors: errors}) %>
    <form action="/admin" method="POST">
        <label for="code">Enter code</label>
        <input id="code" name="code" type="text">
        <button type="submit">Submit</button>
    </form>
</body>
</html>
