<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1><%= title %></h1>
    <%- include("./partials/errors.ejs", {errors: errors}) %>
    <% if (locals.currentUser) { %>
        <form action="/create" method="POST">
            <div class="postText">
                <label for="text">Post text</label>
                <textarea id="text" name="text"></textarea>
            </div>
            <button type="submit">Submit</button>
        </form>
    <% } else { %>
        <p>You must be logged in to create posts!</p>
    <% } %>
    <div class="links">
        <a href="/">Back to home</a>
    <div>
</body>
</html>
